* {
	box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Pop-up*/

.close-pop-up {
	display: none;
	position: fixed;
	left: 10%;
    top: 10%;
    right: 10%;
    bottom: 10%;
	z-index: 99;
	text-align: center;
	vertical-align: middle;
}

.close-pop-up_op {
	overflow: visible;
	height: 100%;
	background: rgba( 200, 200, 200, 0.5 );
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}

.close-pop-up_block {
	background-color: #ffffff;
	border: 2px solid #d4d4d4;
	border-radius: 5px;
	height: 400px;
	width: 450px;
	position: relative;
	z-index: 20;
	padding: 20px;
	font-size: 25px;
	line-height: 25px;
	display: inline-block;
}

.close-pop-up_block_close {
	text-align: center;
	color: #2b82a5;
	background-color: #ffffff;
	border-radius: 10px;
	border: 2px solid #d4d4d4;
	width: 200px;
	padding: 15px 15px;
	margin: 150px auto 10px auto;
	cursor: pointer;
	transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-moz-transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-o-transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.close-pop-up_block_close:hover {
	background-color: #226e8d;
	color: #ffffff;
}

/*Pop-up end*/



.container {
	max-width: 1600px;
	margin: 0 auto;
}

.gid-list {
	margin: 0px 0px 0px 20px;
	padding: 0;
}

.gid-list_block {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 241px;
	margin: 20px 15px 0px 0px;
	border: 1px solid #d4d4d4;
}

.gid-list_block_bg-img {
	width: 240px;
	height: 150px;
	background-image: url('img/exc-1.png');
	margin-top: 30px;
	position: relative;
	z-index: 1;
}

.gid-list_block:nth-child(2) .gid-list_block_bg-img {
	background-image: url('img/exc-2.png');
}

.gid-list_block_bg-img_op {
	width: 240px;
	height: 150px;
	position: relative;
	opacity: 1;
	background: linear-gradient(-180deg, rgba(0,0,0,0) 0, #032835 100%);
	transition: opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	-moz-transition: opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
	-o-transition: opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.gid-list_block_bg-img_op:hover {
	opacity: 0;
}

.gid-list_block_bg-img_price {
	display: block;
	position: absolute;
	bottom: 0;
	margin: 0px 0px 0px 15px;
	color: #ffffff;
	font-size: 50px;
	line-height: 35px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	cursor: default;
}

.gid-list_block_gid {
	position: absolute;
	padding: 5px 20px 0px 20px;
	z-index: 2;
}

.gid-list_block_gid_foto {
	float: left;
}

.gid-list_block_gid_name {
	overflow: hidden;
	margin: 0;
	font-family: 'Verdana', sans-serif;
	color: #1a96bd;
	padding-left: 5px;
	font-size: 11px;
	line-height: 25px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gid-list_block_exc-name {
	padding: 15px 20px 20px 20px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	color: #2b82a5;
	cursor: pointer;
	transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-moz-transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-o-transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.gid-list_block_exc-name:hover {
	color: #4eb2da;
}


@media screen and (max-width: 531px) {
	.gid-list {
		width: 250px;
		margin: 0 auto;
	}
    .gid-list_block {
		float: none;
		margin-right: 0;
	}
}